# Data Preparation

## Import Libraries

In [5]:
import numpy as np
import pandas as pd

## Import Data
The dataset contains all available data for more than 800,000 consumer loans issued from 2007 to 2015 by Lending Club: a large US peer-to-peer lending company. There are several different versions of this dataset. We have used a version available on kaggle.com. You can find it here: https://www.kaggle.com/wendykan/lending-club-loan-data/version/1
We divided the data into two periods because we assume that some data are available at the moment when we need to build Expected Loss models, and some data comes from applications after. Later, we investigate whether the applications we have after we built the Probability of Default (PD) model have similar characteristics with the applications we used to build the PD model.

In [6]:
loan_data_backup = pd.read_csv('loan_data_2007_2014.csv')

In [7]:
loan_data = loan_data_backup.copy()

## Explore Data

In [8]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.00000,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.00000,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.00000,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.00000,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.00000,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1075269,1311441,5000,5000,5000.00000,36 months,7.90,156.46,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,1069639,1304742,7000,7000,7000.00000,60 months,15.96,170.08,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,1072053,1288686,3000,3000,3000.00000,36 months,18.64,109.43,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,1071795,1306957,5600,5600,5600.00000,60 months,21.28,152.39,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,1071570,1306721,5375,5375,5350.00000,60 months,12.69,121.45,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,1070078,1305201,6500,6500,6500.00000,60 months,14.65,153.45,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,1069908,1305008,12000,12000,12000.00000,36 months,12.69,402.54,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,1064687,1298717,9000,9000,9000.00000,36 months,13.49,305.38,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,1069866,1304956,3000,3000,3000.00000,36 months,9.91,96.68,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,1069057,1303503,10000,10000,10000.00000,36 months,10.65,325.74,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,1069759,1304871,1000,1000,1000.00000,36 months,16.29,35.31,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,1065775,1299699,10000,10000,10000.00000,36 months,15.27,347.98,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,1069971,1304884,3600,3600,3600.00000,36 months,6.03,109.57,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,1062474,1294539,6000,6000,6000.00000,36 months,11.71,198.46,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,1069742,1304855,9200,9200,9200.00000,36 months,6.03,280.01,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,1069740,1284848,20250,20250,19142.16108,60 months,15.27,484.63,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,1039153,1269083,21000,21000,21000.00000,36 months,12.42,701.73,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,1069710,1304821,10000,10000,10000.00000,36 months,11.71,330.76,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,1069700,1304810,10000,10000,10000.00000,36 months,11.71,330.76,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,1069559,1304634,6000,6000,6000.00000,36 months,11.71,198.46,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,1069697,1273773,15000,15000,15000.00000,36 months,9.91,483.38,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,1069800,1304679,15000,15000,8725.00000,36 months,14.27,514.64,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,1069657,1304764,5000,5000,5000.00000,60 months,16.77,123.65,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,1069799,1304678,4000,4000,4000.00000,36 months,11.71,132.31,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,1047704,1278806,8500,8500,8500.00000,36 months,11.71,281.15,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466255,466255,9776036,11628030,35000,35000,35000.00000,36 months,18.25,1269.73,D,...,NaN,NaN,NaN,NaN,NaN,NaN,153800.0,NaN,NaN,NaN
466256,466256,9835883,9309502,15000,15000,15000.00000,36 months,16.99,534.72,D,...,NaN,NaN,NaN,NaN,NaN,NaN,29300.0,NaN,NaN,NaN
466257,466257,9845880,11697888,12800,12800,12800.00000,36 months,13.53,434.56,B,...,NaN,NaN,NaN,NaN,NaN,NaN,40800.0,NaN,NaN,NaN
466258,466258,9284670,11116818,7000,7000,7000.00000,36 months,9.67,224.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN
466259,466259,8646060,10418080,18000,18000,17975.00000,36 months,15.61,629.37,C,...,NaN,NaN,NaN,NaN,NaN,NaN,9200.0,NaN,NaN,NaN
466260,466260,9795940,11647977,24000,24000,24000.00000,36 months,21.48,910.13,E,...,NaN,NaN,NaN,NaN,NaN,NaN,33500.0,NaN,NaN,NaN
466261,466261,9824767,11676888,14400,14400,14375.00000,36 months,13.53,488.88,B,...,NaN,NaN,NaN,NaN,NaN,NaN,38100.0,NaN,NaN,NaN
466262,466262,9825193,11677266,14000,14000,14000.00000,36 months,16.24,493.86,C,...,NaN,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN
466263,466263,9795013,11647121,15250,15250,15250.00000,36 months,17.57,548.05,D,...,NaN,NaN,NaN,NaN,NaN,NaN,40200.0,NaN,NaN,NaN
466264,466264,9765006,11617106,24000,24000,24000.00000,36 months,13.98,820.04,C,...,NaN,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN
466265,466265,9774870,11626983,32000,32000,31975.00000,36 months,7.90,1001.29,A,...,NaN,NaN,NaN,NaN,NaN,NaN,30800.0,NaN,NaN,NaN
466266,466266,9794642,2217122,12000,12000,12000.00000,36 months,8.90,381.04,A,...,NaN,NaN,NaN,NaN,NaN,NaN,31900.0,NaN,NaN,NaN
466267,466267,9198304,11060277,10000,10000,10000.00000,36 months,12.85,336.22,B,...,NaN,NaN,NaN,NaN,NaN,NaN,25100.0,NaN,NaN,NaN
466268,466268,9646669,11498434,5000,5000,5000.00000,36 months,22.40,191.99,E,...,NaN,NaN,NaN,NaN,NaN,NaN,32700.0,NaN,NaN,NaN
466269,466269,9505043,11337194,13250,13250,13225.00000,60 months,22.90,372.77,E,...,NaN,NaN,NaN,NaN,NaN,NaN,11300.0,NaN,NaN,NaN
466270,466270,9685861,11537845,10000,10000,10000.00000,36 months,7.90,312.91,A,...,NaN,NaN,NaN,NaN,NaN,NaN,32800.0,NaN,NaN,NaN
466271,466271,9656595,11508352,12000,12000,12000.00000,36 months,16.24,423.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,27700.0,NaN,NaN,NaN
466272,466272,9686192,11538048,12000,12000,12000.00000,60 months,21.48,327.89,E,...,NaN,NaN,NaN,NaN,NaN,NaN,26500.0,NaN,NaN,NaN
466273,466273,9199716,11061625,6000,6000,6000.00000,36 months,10.99,196.41,B,...,NaN,NaN,NaN,NaN,NaN,NaN,25400.0,NaN,NaN,NaN
466274,466274,9666300,9890240,10000,10000,10000.00000,36 months,11.99,332.10,B,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
466275,466275,9715141,11567259,6000,6000,6000.00000,36 months,15.61,209.79,C,...,NaN,NaN,NaN,NaN,NaN,NaN,10500.0,NaN,NaN,NaN
466276,466276,9695736,11547808,8525,8525,8525.00000,60 months,18.25,217.65,D,...,NaN,NaN,NaN,NaN,NaN,NaN,49800.0,NaN,NaN,NaN
466277,466277,9007579,10799568,18000,18000,17975.00000,36 months,7.90,563.23,A,...,NaN,NaN,NaN,NaN,NaN,NaN,50300.0,NaN,NaN,NaN
466278,466278,9745590,11597671,10000,10000,10000.00000,36 months,18.25,362.78,D,...,NaN,NaN,NaN,NaN,NaN,NaN,11100.0,NaN,NaN,NaN
466279,466279,9745484,11597572,15000,15000,15000.00000,36 months,13.53,509.25,B,...,NaN,NaN,NaN,NaN,NaN,NaN,17600.0,NaN,NaN,NaN
466280,466280,8598660,1440975,18400,18400,18400.00000,60 months,14.47,432.64,C,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.00000,60 months,19.97,582.50,D,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.00000,60 months,16.99,514.34,D,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.00000,36 months,7.90,62.59,A,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.00000,36 months,19.20,367.58,D,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [ ]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None
# Sets the pandas dataframe options to display all columns/ rows.

In [ ]:
loan_data

In [ ]:
loan_data.head()

In [ ]:
loan_data.tail()

In [ ]:
loan_data.columns.values
# Displays all column names.

In [9]:
loan_data.info()
# Displays column names, complete (non-missing) cases per column, and datatype per column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
Unnamed: 0                     466285 non-null int64
id                             466285 non-null int64
member_id                      466285 non-null int64
loan_amnt                      466285 non-null int64
funded_amnt                    466285 non-null int64
funded_amnt_inv                466285 non-null float64
term                           466285 non-null object
int_rate                       466285 non-null float64
installment                    466285 non-null float64
grade                          466285 non-null object
sub_grade                      466285 non-null object
emp_title                      438697 non-null object
emp_length                     445277 non-null object
home_ownership                 466285 non-null object
annual_inc                     466281 non-null float64
verification_status            466285 non-null object
issue_d                        466285 non-null object
loan_status                    466285 non-null object
pymnt_plan                     466285 non-null object
url                            466285 non-null object
desc                           125983 non-null object
purpose                        466285 non-null object
title                          466265 non-null object
zip_code                       466285 non-null object
addr_state                     466285 non-null object
dti                            466285 non-null float64
delinq_2yrs                    466256 non-null float64
earliest_cr_line               466256 non-null object
inq_last_6mths                 466256 non-null float64
mths_since_last_delinq         215934 non-null float64
mths_since_last_record         62638 non-null float64
open_acc                       466256 non-null float64
pub_rec                        466256 non-null float64
revol_bal                      466285 non-null int64
revol_util                     465945 non-null float64
total_acc                      466256 non-null float64
initial_list_status            466285 non-null object
out_prncp                      466285 non-null float64
out_prncp_inv                  466285 non-null float64
total_pymnt                    466285 non-null float64
total_pymnt_inv                466285 non-null float64
total_rec_prncp                466285 non-null float64
total_rec_int                  466285 non-null float64
total_rec_late_fee             466285 non-null float64
recoveries                     466285 non-null float64
collection_recovery_fee        466285 non-null float64
last_pymnt_d                   465909 non-null object
last_pymnt_amnt                466285 non-null float64
next_pymnt_d                   239071 non-null object
last_credit_pull_d             466243 non-null object
collections_12_mths_ex_med     466140 non-null float64
mths_since_last_major_derog    98974 non-null float64
policy_code                    466285 non-null int64
application_type               466285 non-null object
annual_inc_joint               0 non-null float64
dti_joint                      0 non-null float64
verification_status_joint      0 non-null float64
acc_now_delinq                 466256 non-null float64
tot_coll_amt                   396009 non-null float64
tot_cur_bal                    396009 non-null float64
open_acc_6m                    0 non-null float64
open_il_6m                     0 non-null float64
open_il_12m                    0 non-null float64
open_il_24m                    0 non-null float64
mths_since_rcnt_il             0 non-null float64
total_bal_il                   0 non-null float64
il_util                        0 non-null float64
open_rv_12m                    0 non-null float64
open_rv_24m                    0 non-null float64
max_bal_bc                     0 non-null float64
all_util                       0 non-null float64
total_rev_hi_lim               396009 non-null float64
inq_fi                         0 non-null float64
total_cu_tl                    0 non-null float64
inq_last_12m                   0 non-null float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

## General Preprocessing

### Preprocessing few continuous variables

In [28]:
loan_data['emp_length'].unique()
# Displays unique values of a column.

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [29]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',  str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')
# We store the preprocessed ‘employment length’ variable in a new variable called ‘employment length int’,
# We assign the new ‘employment length int’ to be equal to the ‘employment length’ variable with the string ‘+ years’
# replaced with nothing. Next, we replace the whole string ‘less than 1 year’ with the string ‘0’.
# Then, we replace the ‘n/a’ string with the string ‘0’. Then, we replace the string ‘space years’ with nothing.
# Finally, we replace the string ‘space year’ with nothing.

In [30]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element of a column.

str

In [47]:
loan_data['emp_length_int'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [49]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])
# Transforms the values to numeric.

In [32]:
type(loan_data['emp_length_int'][0])
# Checks the datatype of a single element of a column.

numpy.float64

In [40]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [51]:
loan_data['term_int']=loan_data['term'].str.strip()
loan_data['term_int']=loan_data['term_int'].str.replace(' months','')

In [53]:
loan_data['term_int'].unique()

array(['36', '60'], dtype=object)

In [54]:
type(loan_data['term_int'][0])

str

In [56]:
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])

In [57]:
loan_data['term_int'].unique()

array([36, 60], dtype=int64)

In [58]:
type(loan_data['term_int'][0])

numpy.int64

In [59]:
loan_data['earliest_cr_line']
# Displays a column.

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
5         Nov-04
6         Jul-05
7         Jan-07
8         Apr-04
9         Sep-04
10        Jan-98
11        Oct-89
12        Apr-04
13        Jul-03
14        May-91
15        Sep-07
16        Oct-98
17        Aug-93
18        Oct-03
19        Jan-01
20        Nov-97
21        Feb-83
22        Jul-85
23        Apr-03
24        Jun-01
25        Feb-02
26        Oct-03
27        Oct-03
28        Aug-84
29        Nov-06
           ...
466255    Sep-00
466256    Apr-01
466257    Jul-85
466258    Jun-93
466259    Apr-85
466260    Sep-97
466261    Aug-97
466262    Feb-93
466263    Jul-98
466264    Aug-03
466265    Jul-93
466266    Mar-94
466267    Oct-02
466268    Dec-01
466269    Apr-00
466270    Oct-86
466271    Dec-93
466272    Jun-01
466273    May-90
466274    Aug-83
466275    Nov-93
466276    Nov-94
466277    Jul-98
466278    Jun-02
466279    Aug-99
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [60]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')
# Extracts the date and the time from a string variable that is in a given format.

In [61]:
loan_data['earliest_cr_line_date'].unique()

array(['1985-01-01T00:00:00.000000000', '1999-04-01T00:00:00.000000000',
       '2001-11-01T00:00:00.000000000', '1996-02-01T00:00:00.000000000',
       '1996-01-01T00:00:00.000000000', '2004-11-01T00:00:00.000000000',
       '2005-07-01T00:00:00.000000000', '2007-01-01T00:00:00.000000000',
       '2004-04-01T00:00:00.000000000', '2004-09-01T00:00:00.000000000',
       '1998-01-01T00:00:00.000000000', '1989-10-01T00:00:00.000000000',
       '2003-07-01T00:00:00.000000000', '1991-05-01T00:00:00.000000000',
       '2007-09-01T00:00:00.000000000', '1998-10-01T00:00:00.000000000',
       '1993-08-01T00:00:00.000000000', '2003-10-01T00:00:00.000000000',
       '2001-01-01T00:00:00.000000000', '1997-11-01T00:00:00.000000000',
       '1983-02-01T00:00:00.000000000', '1985-07-01T00:00:00.000000000',
       '2003-04-01T00:00:00.000000000', '2001-06-01T00:00:00.000000000',
       '2002-02-01T00:00:00.000000000', '1984-08-01T00:00:00.000000000',
       '2006-11-01T00:00:00.000000000', '1987-12-01T00:00:00.000000000',
       '1981-11-01T00:00:00.000000000', '1997-02-01T00:00:00.000000000',
       '2005-04-01T00:00:00.000000000', '2007-10-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000', '2007-04-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2003-01-01T00:00:00.000000000',
       '1994-03-01T00:00:00.000000000', '1998-09-01T00:00:00.000000000',
       '2004-06-01T00:00:00.000000000', '1995-11-01T00:00:00.000000000',
       '1999-07-01T00:00:00.000000000', '1995-06-01T00:00:00.000000000',
       '1992-09-01T00:00:00.000000000', '2002-01-01T00:00:00.000000000',
       '1992-04-01T00:00:00.000000000', '2006-10-01T00:00:00.000000000',
       '2000-05-01T00:00:00.000000000', '1998-12-01T00:00:00.000000000',
       '2004-12-01T00:00:00.000000000', '2000-10-01T00:00:00.000000000',
       '2002-05-01T00:00:00.000000000', '2006-05-01T00:00:00.000000000',
       '2002-07-01T00:00:00.000000000', '2006-07-01T00:00:00.000000000',
       '1997-05-01T00:00:00.000000000', '2005-10-01T00:00:00.000000000',
       '1995-04-01T00:00:00.000000000', '2002-10-01T00:00:00.000000000',
       '2000-01-01T00:00:00.000000000', '2000-04-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '2005-09-01T00:00:00.000000000',
       '1984-12-01T00:00:00.000000000', '1999-12-01T00:00:00.000000000',
       '2003-11-01T00:00:00.000000000', '1989-06-01T00:00:00.000000000',
       '2003-06-01T00:00:00.000000000', '1996-10-01T00:00:00.000000000',
       '2003-05-01T00:00:00.000000000', '2002-06-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '1996-12-01T00:00:00.000000000',
       '1984-02-01T00:00:00.000000000', '2002-09-01T00:00:00.000000000',
       '1986-01-01T00:00:00.000000000', '1998-05-01T00:00:00.000000000',
       '1997-01-01T00:00:00.000000000', '2005-06-01T00:00:00.000000000',
       '1990-02-01T00:00:00.000000000', '2004-03-01T00:00:00.000000000',
       '1995-07-01T00:00:00.000000000', '1994-08-01T00:00:00.000000000',
       '1992-06-01T00:00:00.000000000', '1997-03-01T00:00:00.000000000',
       '2006-04-01T00:00:00.000000000', '1990-04-01T00:00:00.000000000',
       '1999-08-01T00:00:00.000000000', '2000-09-01T00:00:00.000000000',
       '2001-02-01T00:00:00.000000000', '1988-12-01T00:00:00.000000000',
       '1999-02-01T00:00:00.000000000', '1991-12-01T00:00:00.000000000',
       '2000-08-01T00:00:00.000000000', '2004-10-01T00:00:00.000000000',
       '2004-08-01T00:00:00.000000000', '2005-02-01T00:00:00.000000000',
       '2005-11-01T00:00:00.000000000', '2000-11-01T00:00:00.000000000',
       '2007-05-01T00:00:00.000000000', '1991-01-01T00:00:00.000000000',
       '2000-06-01T00:00:00.000000000', '2006-08-01T00:00:00.000000000',
       '2002-12-01T00:00:00.000000000', '1993-06-01T00:00:00.000000000',
       '2006-06-01T00:00:00.000000000', '2004-02-01T00:00:00.000000000',
       '1990-12-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '1995-02-01T00:00:00.000000000', '2001-07-01T00:00:00.000000000',
       '2002-04-01T00:00:00.000000000', '2006-09-01T00:00:00.000000000',
       '1999-05-01T00:00:00.000000000', '1998-08-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2004-05-01T00:00:00.000000000',
       '2001-10-01T00:00:00.000000000', '1983-06-01T00:00:00.000000000',
       '1986-03-01T00:00:00.000000000', '1980-04-01T00:00:00.000000000',
       '2004-07-01T00:00:00.000000000', '2008-07-01T00:00:00.000000000',
       '1996-05-01T00:00:00.000000000', '2004-01-01T00:00:00.000000000',
       '2002-11-01T00:00:00.000000000', '2002-08-01T00:00:00.000000000',
       '2001-08-01T00:00:00.000000000', '1991-03-01T00:00:00.000000000',
       '1989-09-01T00:00:00.000000000', '1994-09-01T00:00:00.000000000',
       '2003-09-01T00:00:00.000000000', '1999-09-01T00:00:00.000000000',
       '2005-08-01T00:00:00.000000000', '1986-12-01T00:00:00.000000000',
       '1998-11-01T00:00:00.000000000', '2006-02-01T00:00:00.000000000',
       '1994-05-01T00:00:00.000000000', '2007-11-01T00:00:00.000000000',
       '1993-02-01T00:00:00.000000000', '1991-11-01T00:00:00.000000000',
       '2005-05-01T00:00:00.000000000', '1973-12-01T00:00:00.000000000',
       '2001-05-01T00:00:00.000000000', '1990-03-01T00:00:00.000000000',
       '1996-03-01T00:00:00.000000000', '1979-10-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '2001-03-01T00:00:00.000000000',
       '2001-04-01T00:00:00.000000000', '1999-06-01T00:00:00.000000000',
       '1993-11-01T00:00:00.000000000', '2006-01-01T00:00:00.000000000',
       '1997-12-01T00:00:00.000000000', '1994-11-01T00:00:00.000000000',
       '1997-07-01T00:00:00.000000000', '1991-10-01T00:00:00.000000000',
       '1994-06-01T00:00:00.000000000', '2006-03-01T00:00:00.000000000',
       '1996-09-01T00:00:00.000000000', '1991-04-01T00:00:00.000000000',
       '1993-07-01T00:00:00.000000000', '1995-01-01T00:00:00.000000000',
       '1987-09-01T00:00:00.000000000', '2003-03-01T00:00:00.000000000',
       '1999-10-01T00:00:00.000000000', '1996-07-01T00:00:00.000000000',
       '2003-12-01T00:00:00.000000000', '1988-08-01T00:00:00.000000000',
       '1992-01-01T00:00:00.000000000', '1998-03-01T00:00:00.000000000',
       '2007-02-01T00:00:00.000000000', '1982-08-01T00:00:00.000000000',
       '1995-03-01T00:00:00.000000000', '1992-12-01T00:00:00.000000000',
       '1998-07-01T00:00:00.000000000', '1989-07-01T00:00:00.000000000',
       '1990-05-01T00:00:00.000000000', '1994-07-01T00:00:00.000000000',
       '2001-09-01T00:00:00.000000000', '1984-03-01T00:00:00.000000000',
       '2003-08-01T00:00:00.000000000', '1999-11-01T00:00:00.000000000',
       '2007-03-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '1994-04-01T00:00:00.000000000', '2005-01-01T00:00:00.000000000',
       '1986-07-01T00:00:00.000000000', '1990-08-01T00:00:00.000000000',
       '1992-05-01T00:00:00.000000000', '2000-07-01T00:00:00.000000000',
       '1988-03-01T00:00:00.000000000', '1983-05-01T00:00:00.000000000',
       '1993-04-01T00:00:00.000000000', '1978-07-01T00:00:00.000000000',
       '2000-02-01T00:00:00.000000000', '1981-12-01T00:00:00.000000000',
       '1992-03-01T00:00:00.000000000', '1981-01-01T00:00:00.000000000',
       '1990-09-01T00:00:00.000000000', '1998-06-01T00:00:00.000000000',
       '1993-05-01T00:00:00.000000000', '1996-11-01T00:00:00.000000000',
       '2002-03-01T00:00:00.000000000', '1988-01-01T00:00:00.000000000',
       '1997-08-01T00:00:00.000000000', '1987-08-01T00:00:00.000000000',
       '2008-08-01T00:00:00.000000000', '1994-10-01T00:00:00.000000000',
       '1986-10-01T00:00:00.000000000', '1994-02-01T00:00:00.000000000',
       '1996-06-01T00:00:00.000000000', '1998-02-01T00:00:00.000000000',
       '2008-11-01T00:00:00.000000000', '1998-04-01T00:00:00.000000000',
       '1979-07-01T00:00:00.000000000', '1993-01-01T00:00:00.000000000',
       '1987-05-01T00:00:00.000000000', '1971-07-01T00:00:00.000000000',
       '2007-08-01T00:00:00.000000000', '1997-06-01T00:00:00.000000000',
       '1980-03-01T00:00:00.000000000', '2006-12-01T00:00:00.000000000',
       '2007-07-01T00:00:00.000000000', '1995-10-01T00:00:00.000000000',
       '1991-07-01T00:00:00.000000000', '1992-07-01T00:00:00.000000000',
       '1972-12-01T00:00:00.000000000', '1993-12-01T00:00:00.000000000',
       '1999-01-01T00:00:00.000000000', '2003-02-01T00:00:00.000000000',
       '1997-04-01T00:00:00.000000000', '1995-12-01T00:00:00.000000000',
       '1996-04-01T00:00:00.000000000', '1990-07-01T00:00:00.000000000',
       '1970-03-01T00:00:00.000000000', '1984-11-01T00:00:00.000000000',
       '1984-04-01T00:00:00.000000000', '1984-07-01T00:00:00.000000000',
       '1995-08-01T00:00:00.000000000', '1999-03-01T00:00:00.000000000',
       '1988-09-01T00:00:00.000000000', '1989-03-01T00:00:00.000000000',
       '1987-03-01T00:00:00.000000000', '1997-10-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1994-01-01T00:00:00.000000000',
       '1995-09-01T00:00:00.000000000', '2005-03-01T00:00:00.000000000',
       '1989-01-01T00:00:00.000000000', '1992-02-01T00:00:00.000000000',
       '1990-01-01T00:00:00.000000000', '1990-11-01T00:00:00.000000000',
       '1969-03-01T00:00:00.000000000', '1975-06-01T00:00:00.000000000',
       '1985-03-01T00:00:00.000000000', '2007-12-01T00:00:00.000000000',
       '1993-10-01T00:00:00.000000000', '1989-12-01T00:00:00.000000000',
       '1980-09-01T00:00:00.000000000', '1988-06-01T00:00:00.000000000',
       '1978-05-01T00:00:00.000000000', '1973-04-01T00:00:00.000000000',
       '1989-08-01T00:00:00.000000000', '1990-10-01T00:00:00.000000000',
       '1991-09-01T00:00:00.000000000', '1982-02-01T00:00:00.000000000',
       '1987-02-01T00:00:00.000000000', '1985-11-01T00:00:00.000000000',
       '1984-01-01T00:00:00.000000000', '1988-07-01T00:00:00.000000000',
       '2008-05-01T00:00:00.000000000', '1985-10-01T00:00:00.000000000',
       '1983-03-01T00:00:00.000000000', '1991-08-01T00:00:00.000000000',
       '1986-09-01T00:00:00.000000000', '1990-06-01T00:00:00.000000000',
       '1986-02-01T00:00:00.000000000', '1997-09-01T00:00:00.000000000',
       '1984-06-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1986-04-01T00:00:00.000000000', '1979-08-01T00:00:00.000000000',
       '1980-08-01T00:00:00.000000000', '1992-11-01T00:00:00.000000000',
       '1993-09-01T00:00:00.000000000', '1987-06-01T00:00:00.000000000',
       '1982-09-01T00:00:00.000000000', '1992-08-01T00:00:00.000000000',
       '1985-08-01T00:00:00.000000000', '1983-07-01T00:00:00.000000000',
       '1991-06-01T00:00:00.000000000', '1983-12-01T00:00:00.000000000',
       '1987-01-01T00:00:00.000000000', '1978-11-01T00:00:00.000000000',
       '1984-10-01T00:00:00.000000000', '1996-08-01T00:00:00.000000000',
       '1989-11-01T00:00:00.000000000', '1976-09-01T00:00:00.000000000',
       '1986-11-01T00:00:00.000000000', '1987-10-01T00:00:00.000000000',
       '2008-09-01T00:00:00.000000000', '1977-05-01T00:00:00.000000000',
       '1986-05-01T00:00:00.000000000', '1981-03-01T00:00:00.000000000',
       '1983-01-01T00:00:00.000000000', '1976-11-01T00:00:00.000000000',
       '1979-09-01T00:00:00.000000000', '1983-10-01T00:00:00.000000000',
       '2062-09-01T00:00:00.000000000', '1985-06-01T00:00:00.000000000',
       '1982-05-01T00:00:00.000000000', '1988-02-01T00:00:00.000000000',
       '1992-10-01T00:00:00.000000000', '1983-08-01T00:00:00.000000000',
       '1973-06-01T00:00:00.000000000', '1985-04-01T00:00:00.000000000',
       '1988-10-01T00:00:00.000000000', '1981-10-01T00:00:00.000000000',
       '2068-09-01T00:00:00.000000000', '1974-07-01T00:00:00.000000000',
       '1987-11-01T00:00:00.000000000', '1995-05-01T00:00:00.000000000',
       '1991-02-01T00:00:00.000000000', '1988-11-01T00:00:00.000000000',
       '1993-03-01T00:00:00.000000000', '2008-06-01T00:00:00.000000000',
       '1980-07-01T00:00:00.000000000', '1982-12-01T00:00:00.000000000',
       '1975-03-01T00:00:00.000000000', '1980-02-01T00:00:00.000000000',
       '1988-04-01T00:00:00.000000000', '1979-12-01T00:00:00.000000000',
       '1985-09-01T00:00:00.000000000', '1971-09-01T00:00:00.000000000',
       '1978-03-01T00:00:00.000000000', '2008-02-01T00:00:00.000000000',
       '1978-08-01T00:00:00.000000000', '1970-11-01T00:00:00.000000000',
       '1979-06-01T00:00:00.000000000', '1980-06-01T00:00:00.000000000',
       '1989-04-01T00:00:00.000000000', '1983-09-01T00:00:00.000000000',
       '1989-02-01T00:00:00.000000000', '1983-11-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1982-10-01T00:00:00.000000000',
       '1986-08-01T00:00:00.000000000', '1980-10-01T00:00:00.000000000',
       '1988-05-01T00:00:00.000000000', '1985-12-01T00:00:00.000000000',
       '1982-01-01T00:00:00.000000000', '1977-09-01T00:00:00.000000000',
       '1976-12-01T00:00:00.000000000', '1982-04-01T00:00:00.000000000',
       '1984-05-01T00:00:00.000000000', '2008-04-01T00:00:00.000000000',
       '1979-02-01T00:00:00.000000000', '2008-01-01T00:00:00.000000000',
       '2064-09-01T00:00:00.000000000', '1987-07-01T00:00:00.000000000',
       '1978-01-01T00:00:00.000000000', '1989-05-01T00:00:00.000000000',
       '1977-10-01T00:00:00.000000000', '1975-12-01T00:00:00.000000000',
       '1985-02-01T00:00:00.000000000', '2008-10-01T00:00:00.000000000',
       '1982-11-01T00:00:00.000000000', '1975-05-01T00:00:00.000000000',
       '1985-05-01T00:00:00.000000000', '1971-02-01T00:00:00.000000000',
       '1977-06-01T00:00:00.000000000', '1981-04-01T00:00:00.000000000',
       '1979-05-01T00:00:00.000000000', '1972-01-01T00:00:00.000000000',
       '2067-09-01T00:00:00.000000000', '1978-04-01T00:00:00.000000000',
       '2065-02-01T00:00:00.000000000', '1983-04-01T00:00:00.000000000',
       '1975-11-01T00:00:00.000000000', '2067-06-01T00:00:00.000000000',
       '1974-03-01T00:00:00.000000000', '1972-07-01T00:00:00.000000000',
       '2067-08-01T00:00:00.000000000', '1971-04-01T00:00:00.000000000',
       '1984-09-01T00:00:00.000000000', '1981-05-01T00:00:00.000000000',
       '1970-12-01T00:00:00.000000000', '1973-10-01T00:00:00.000000000',
       '1971-01-01T00:00:00.000000000', '2063-12-01T00:00:00.000000000',
       '1974-04-01T00:00:00.000000000', '1980-01-01T00:00:00.000000000',
       '1969-08-01T00:00:00.000000000', '1975-04-01T00:00:00.000000000',
       '1977-07-01T00:00:00.000000000', '1977-03-01T00:00:00.000000000',
       '1969-11-01T00:00:00.000000000', '1976-01-01T00:00:00.000000000',
       '1982-03-01T00:00:00.000000000', '1987-04-01T00:00:00.000000000',
       '1969-12-01T00:00:00.000000000', '1974-05-01T00:00:00.000000000',
       '1974-08-01T00:00:00.000000000', '1972-06-01T00:00:00.000000000',
       '2063-03-01T00:00:00.000000000', '1979-11-01T00:00:00.000000000',
       '1975-08-01T00:00:00.000000000', '1974-09-01T00:00:00.000000000',
       '1981-08-01T00:00:00.000000000', '1973-05-01T00:00:00.000000000',
       '1973-09-01T00:00:00.000000000', '1973-03-01T00:00:00.000000000',
       '1977-12-01T00:00:00.000000000', '1976-10-01T00:00:00.000000000',
       '1974-01-01T00:00:00.000000000', '1970-01-01T00:00:00.000000000',
       '2068-08-01T00:00:00.000000000', '1976-02-01T00:00:00.000000000',
       '1975-01-01T00:00:00.000000000', '1972-10-01T00:00:00.000000000',
       '1974-12-01T00:00:00.000000000', '1973-02-01T00:00:00.000000000',
       '2065-11-01T00:00:00.000000000', '1972-03-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1974-06-01T00:00:00.000000000',
       '2065-05-01T00:00:00.000000000', '1971-06-01T00:00:00.000000000',
       '1970-10-01T00:00:00.000000000', '1976-04-01T00:00:00.000000000',
       '1971-10-01T00:00:00.000000000', '1977-04-01T00:00:00.000000000',
       '1978-09-01T00:00:00.000000000', '1978-10-01T00:00:00.000000000',
       '2054-10-01T00:00:00.000000000', '1981-02-01T00:00:00.000000000',
       '1977-01-01T00:00:00.000000000', '1977-08-01T00:00:00.000000000',
       '1978-12-01T00:00:00.000000000', '1976-08-01T00:00:00.000000000',
       '2068-06-01T00:00:00.000000000', '1978-06-01T00:00:00.000000000',
       '1969-06-01T00:00:00.000000000', '1980-05-01T00:00:00.000000000',
       '1979-01-01T00:00:00.000000000', '2065-10-01T00:00:00.000000000',
       '1974-11-01T00:00:00.000000000', '2066-04-01T00:00:00.000000000',
       '1976-06-01T00:00:00.000000000', '1972-02-01T00:00:00.000000000',
       '1976-05-01T00:00:00.000000000', '2068-03-01T00:00:00.000000000',
       '1976-03-01T00:00:00.000000000', '1970-07-01T00:00:00.000000000',
       '1979-03-01T00:00:00.000000000', '1976-07-01T00:00:00.000000000',
       '1982-07-01T00:00:00.000000000', '2065-09-01T00:00:00.000000000',
       '2067-04-01T00:00:00.000000000', '2063-10-01T00:00:00.000000000',
       '1970-02-01T00:00:00.000000000', '1973-07-01T00:00:00.000000000',
       '1978-02-01T00:00:00.000000000', '1971-11-01T00:00:00.000000000',
       '1972-08-01T00:00:00.000000000', '1975-07-01T00:00:00.000000000',
       '1970-09-01T00:00:00.000000000', '1981-07-01T00:00:00.000000000',
       '2064-10-01T00:00:00.000000000', '1972-09-01T00:00:00.000000000',
       '1970-05-01T00:00:00.000000000', '2063-05-01T00:00:00.000000000',
       '1969-02-01T00:00:00.000000000', '1980-11-01T00:00:00.000000000',
       '2067-07-01T00:00:00.000000000', '1970-04-01T00:00:00.000000000',
       '1977-11-01T00:00:00.000000000', '2066-11-01T00:00:00.000000000',
       '1971-05-01T00:00:00.000000000', '1979-04-01T00:00:00.000000000',
       '1972-05-01T00:00:00.000000000', '2068-02-01T00:00:00.000000000',
       '2064-07-01T00:00:00.000000000', '2067-11-01T00:00:00.000000000',
       '2064-04-01T00:00:00.000000000', '1975-02-01T00:00:00.000000000',
       '2059-06-01T00:00:00.000000000', '2056-09-01T00:00:00.000000000',
       '2066-06-01T00:00:00.000000000', '2046-01-01T00:00:00.000000000',
       '2066-03-01T00:00:00.000000000', '2063-01-01T00:00:00.000000000',
       '2050-12-01T00:00:00.000000000', '1969-07-01T00:00:00.000000000',
       '2068-01-01T00:00:00.000000000', '1973-11-01T00:00:00.000000000',
       '1970-06-01T00:00:00.000000000', '1977-02-01T00:00:00.000000000',
       '1974-02-01T00:00:00.000000000', '1973-01-01T00:00:00.000000000',
       '2066-02-01T00:00:00.000000000', '2061-12-01T00:00:00.000000000',
       '1973-08-01T00:00:00.000000000', '1970-08-01T00:00:00.000000000',
       '1969-09-01T00:00:00.000000000', '1975-09-01T00:00:00.000000000',
       '2068-12-01T00:00:00.000000000', '2054-11-01T00:00:00.000000000',
       '1969-10-01T00:00:00.000000000', '2065-12-01T00:00:00.000000000',
       '1972-04-01T00:00:00.000000000', '1972-11-01T00:00:00.000000000',
       '2063-09-01T00:00:00.000000000', '1969-04-01T00:00:00.000000000',
       '2062-11-01T00:00:00.000000000', '2067-10-01T00:00:00.000000000',
       '2067-05-01T00:00:00.000000000', '2061-11-01T00:00:00.000000000',
       '2067-02-01T00:00:00.000000000', '2068-11-01T00:00:00.000000000',
       '1975-10-01T00:00:00.000000000', '1971-03-01T00:00:00.000000000',
       '1971-08-01T00:00:00.000000000', '2066-12-01T00:00:00.000000000',
       '2068-10-01T00:00:00.000000000', '1974-10-01T00:00:00.000000000',
       '2063-11-01T00:00:00.000000000', '2068-04-01T00:00:00.000000000',
       '1969-05-01T00:00:00.000000000', '2059-11-01T00:00:00.000000000',
                                 'NaT', '2010-10-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2010-11-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '2008-12-01T00:00:00.000000000',
       '2009-09-01T00:00:00.000000000', '2010-07-01T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2009-05-01T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2009-04-01T00:00:00.000000000', '2009-11-01T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',

In [62]:
type(loan_data['earliest_cr_line_date'][0])
# Checks the datatype of a single element of a column.

pandas._libs.tslib.Timestamp

In [63]:
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']
# Calculates the difference between two dates and times.

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
5         4778 days
6         4536 days
7         3987 days
8         4992 days
9         4839 days
10        7274 days
11       10288 days
12        4992 days
13        5267 days
14        9711 days
15        3744 days
16        7001 days
17        8888 days
18        5175 days
19        6178 days
20        7335 days
21       12722 days
22       11841 days
23        5358 days
24        6027 days
25        5782 days
26        5175 days
27        5175 days
28       12175 days
29        4048 days
            ...
466255    6300 days
466256    6088 days
466257   11841 days
466258    8949 days
466259   11932 days
466260    7396 days
466261    7427 days
466262    9069 days
466263    7093 days
466264    5236 days
466265    8919 days
466266    8676 days
466267    5540 days
466268    5844 days
466269    6453 days
466270   11384 days
466271    8766 days
466272    6027 days
466273   10076 days
466274   12541 days
466275    8796 days
466276    8431 days
466277    7093 days
466278    5662 days
466279    6697 days
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [64]:
# Assume we are now in December 2017
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))
# We calculate the difference between two dates in months, turn it to numeric datatype and round it.
# We save the result in a new variable.

In [65]:
loan_data['mths_since_earliest_cr_line'].describe()
# Shows some descriptive statisics for the values of a column.
# Dates from 1969 and before are not being converted well, i.e., they have become 2069 and similar,
# and negative differences are being calculated.

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [66]:
loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]
# We take three columns from the dataframe. Then, we display them only for the rows where a variable has negative value.
# There are 2303 strange negative values.

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -537.0
1770             Sep-68            2068-09-01                       -609.0
2799             Sep-64            2064-09-01                       -561.0
3282             Sep-67            2067-09-01                       -597.0
3359             Feb-65            2065-02-01                       -566.0
3413             Jun-67            2067-06-01                       -594.0
3607             Aug-67            2067-08-01                       -596.0
3989             Dec-63            2063-12-01                       -552.0
4440             Sep-68            2068-09-01                       -609.0
4449             Sep-68            2068-09-01                       -609.0
4492             Mar-63            2063-03-01                       -543.0
5109             Aug-68            2068-08-01                       -608.0
5417             Nov-65            2065-11-01                       -575.0
5692             May-65            2065-05-01                       -569.0
6137             Oct-54            2054-10-01                       -442.0
6435             Jun-68            2068-06-01                       -606.0
7445             Oct-65            2065-10-01                       -574.0
7481             Apr-66            2066-04-01                       -580.0
7583             Sep-68            2068-09-01                       -609.0
7667             Mar-68            2068-03-01                       -603.0
7893             Sep-62            2062-09-01                       -537.0
8310             Sep-65            2065-09-01                       -573.0
8484             Apr-67            2067-04-01                       -592.0
8806             Oct-63            2063-10-01                       -550.0
8908             Apr-67            2067-04-01                       -592.0
9164             Oct-63            2063-10-01                       -550.0
10344            Oct-64            2064-10-01                       -562.0
10907            May-63            2063-05-01                       -545.0
11288            Jul-67            2067-07-01                       -595.0
11336            Sep-62            2062-09-01                       -537.0
...                 ...                   ...                          ...
458624           Dec-68            2068-12-01                       -612.0
458830           Jun-67            2067-06-01                       -594.0
459081           Oct-68            2068-10-01                       -610.0
459266           Sep-64            2064-09-01                       -561.0
459302           Sep-66            2066-09-01                       -585.0
459736           Sep-66            2066-09-01                       -585.0
460084           Jun-68            2068-06-01                       -606.0
460092           May-68            2068-05-01                       -605.0
460157           May-65            2065-05-01                       -569.0
460243           Jul-68            2068-07-01                       -607.0
460324           Nov-63            2063-11-01                       -551.0
460360           Sep-64            2064-09-01                       -561.0
460365           Jun-65            2065-06-01                       -570.0
460654           Apr-67            2067-04-01                       -592.0
460673           Dec-67            2067-12-01                       -600.0
460762           Mar-67            2067-03-01                       -591.0
461510           Jan-62            2062-01-01                       -529.0
461605           Jun-65            2065-06-01                       -570.0
462539           Jul-65            2065-07-01                       -571.0
463177           Jul-67            2067-07-01                       -595.0
463266           Jan-66            2066-01-01                       -577.0
463371           Mar-63            2063-03-01                       -543.0
463508           Apr-68            2068-04-01                       -604.0
463849           Jun-60            2060-06-01                       -510.0
463887           May-64            2064-05-01                       -557.0
464003           Jan-68            2068-01-01                       -601.0
464260           Jul-66            2066-07-01                       -583.0
465100           Oct-67            2067-10-01                       -598.0
465500           Sep-67            2067-09-01                       -597.0
465655           Jan-56            2056-01-01                       -457.0

[1169 rows x 3 columns]

In [67]:
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()
# We set the rows that had negative differences to the maximum value.

C:\Users\Shreya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
min(loan_data['mths_since_earliest_cr_line'])
# Calculates and shows the minimum value of a column.

73.0

In [69]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'term_int', 'emp_length_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line'], dtype=object)

In [70]:
type(loan_data['issue_d'][0])

str

In [71]:
loan_data['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'Dec-13', 'Nov-13', 'Oct-13', 'Sep-13', 'Aug-13',
       'Jul-13', 'Jun-13', 'May-13', 'Apr-13', 'Mar-13', 'Feb-13',
       'Jan-13', 'Dec-12', 'Nov-12', 'Oct-12', 'Sep-12', 'Aug-12',
       'Jul-12', 'Jun-12', 'May-12', 'Apr-12', 'Mar-12', 'Feb-12',
       'Jan-12', 'Dec-14', 'Nov-14', 'Oct-14', 'Sep-14', 'Aug-14',
       'Jul-14', 'Jun-14', 'May-14', 'Apr-14', 'Mar-14', 'Feb-14',
       'Jan-14'], dtype=object)

In [75]:
loan_data['issue_date']=pd.to_datetime(loan_data['issue_d'],format = '%b-%y')

In [76]:
type(loan_data['issue_date'][0])

pandas._libs.tslib.Timestamp

In [77]:
pd.to_datetime('2019-09-02')-loan_data['issue_date']

0        2832 days
1        2832 days
2        2832 days
3        2832 days
4        2832 days
5        2832 days
6        2832 days
7        2832 days
8        2832 days
9        2832 days
10       2832 days
11       2832 days
12       2832 days
13       2832 days
14       2832 days
15       2832 days
16       2832 days
17       2832 days
18       2832 days
19       2832 days
20       2832 days
21       2832 days
22       2832 days
23       2832 days
24       2832 days
25       2832 days
26       2832 days
27       2832 days
28       2832 days
29       2832 days
            ...
466255   2070 days
466256   2070 days
466257   2070 days
466258   2070 days
466259   2070 days
466260   2070 days
466261   2070 days
466262   2070 days
466263   2070 days
466264   2070 days
466265   2070 days
466266   2070 days
466267   2070 days
466268   2070 days
466269   2070 days
466270   2070 days
466271   2070 days
466272   2070 days
466273   2070 days
466274   2070 days
466275   2070 days
466276   2070 days
466277   2070 days
466278   2070 days
466279   2070 days
466280   2070 days
466281   2070 days
466282   2070 days
466283   2070 days
466284   2070 days
Name: issue_date, Length: 466285, dtype: timedelta64[ns]

In [88]:
loan_data['mths_since_issue_d']=round(pd.to_numeric((pd.to_datetime('2019-09-02')-loan_data['issue_date'])/np.timedelta64(1,'M')))

In [89]:
loan_data['mths_since_issue_d'].unique()

array([ 93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101., 102., 103.,
       104., 105., 106., 107., 108., 109., 110., 111., 112., 113., 114.,
       115., 116., 117., 118., 119., 120., 121., 122., 123., 124., 125.,
       126., 127., 128., 129., 130., 131., 132., 133., 134., 135., 136.,
       137., 138., 139., 140., 141., 142., 143., 144., 145., 146., 147.,
        69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,
        80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,  89.,  90.,
        91.,  92.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.])

In [90]:
type(loan_data['mths_since_issue_d'][0])

numpy.float64

In [91]:
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean         72.255187
std          14.340154
min          57.000000
25%          62.000000
50%          68.000000
75%          78.000000
max         147.000000
Name: mths_since_issue_d, dtype: float64